<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Urban style</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <div class="container">
        <div class="navbar">
            <img class="logo" src="image/logo.png" alt="logo">
            <nav>
                <ul>
                    <li><a href="">Home</a></li>
                    <li><a href="">About</a></li>
                    <li><a href="">Collection</a></li>
                    <li><a href="">Category</a></li>
                </ul>
            </nav>
            <img class="cart" src="image/cart.png" alt="cart">
        </div>
        <div class="content">
            <a href="" class="btn">2020 Collections</a>
            <h1>You should always<br>feels pretty</h1>
            <p>Clothes that you are sure heat up your winter.</p>
            <div class="arrow-icon">
                <img src="image/back-arrow.png" alt="back" srcset="">
                <img src="image/next-arrow.png" alt="back" srcset="">
            </div>
        </div>
        <img src="image/img.png" alt="people" class="people">
        <div class="social">
            <a href="">FACEBOOK</a>
            <a href="">INSTAGRAM</a>
            <a href="">TWITTER</a>
        </div>
    </div>
</body>
</html>